<header>
  <div class="name-logo" routerLink="">
    <img alt="logo" src="assets/logo.png" />
    <h1>MyTribe</h1>
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <ul class="menu">
    <li routerLink="services">Services</li>
    <li routerLink="timeline">Timeline</li>
    <li routerLink="team">Équipe</li>
    <li routerLink="contact">Contact</li>
    <li routerLink="feedback">Avis</li>
  </ul>
</header>
