/* You can add global styles to this file, and also import other style files */

@import './variables';
@import './mixins';

html, body { height: 100%; margin: 0; padding: 0; }
body {
  margin: 0;
  font-family: 'Ubuntu', Roboto, "Helvetica Neue", sans-serif;
  color: $primary-font-color;
}

main {
  background-color: $second;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 90px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
