@import '~/src/sass/variables.scss';

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

p {
  width: 50%;
}

.contact-form {
  background-color: aliceblue;
  width: 50%;
  border-radius: 10px;
  form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 24px;

    button {
      background-color: $primary;
      color: white;
      font-size: 24px;
      padding: 8px;
    }
  }
}

@media screen and (max-width: 1024px) {
  main {
    padding: 24px;
  }
  .contact {
    flex-direction: column;
  }

  h1 {
    text-align: center;
  }

  p {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  .contact-form {
    width: 100%;
  }
}
