.member {
  width: 200px;
  height: 324px;
  background-color: #4490F4;
  box-sizing: border-box;
  margin: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px burlywood solid;
  border-radius: 10px;
}

.img-border {
  height: 150px;
  width: 150px;
  margin-bottom: 24px;
  border-radius: 50%;
  border: 1px solid white;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

p {
  text-align: center;
}
