.post-it {
  height: 400px;
  width: 400px;
  box-sizing: border-box;
  padding-top: 56px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 56px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  margin: 0px;
  padding: 0px;
}

p {
  margin-top: 48px;
}
mat-icon {
  margin: 0px;
  padding: 0px;
  margin-right: 24px;
  font-size: 40px;
  text-align: center;
  margin-top: -14px;
}

@media screen and (max-width: 450px) {
  .post-it {
    height: 250px;
    width: 250px;
    padding-top: 12px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 12px;
  }

  p {
    margin-top: 24px;
  }
}
