<main>
  <div class='feedback'>
    <div class="feedback-explain">
      <h1>{{ 'Donnez nous votre avis' | uppercase}}</h1>
      <p>En cliquant sur ce bouton vous arriverez sur un formulaire pour avoir votre retour d'expérience sur notre produit ainsi que des améliorations que vous souhaitez voir venir.</p>
    </div>
    <div class="feedback-form">
      <button mat-stroked-button><a href='https://docs.google.com/forms/d/e/1FAIpQLScJWZKBgl9lpl_ohJxYg2gD2_WQrllTAsJjwHanrdEh0ASShg/viewform'>Donnez nous votre avis !</a></button>
    </div>
  </div>
</main>
