main {
  height: 110%;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
}

.members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  main {
    height: 135%;
  }
}

@media screen and (max-width: 450px) {
  main {
    height: 450%;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
  }
}
