main {
  height: 110%;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
}

.members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 450px) {

  .members {
    justify-content: flex-start;
  }
}
