.solution {
  width: 40%;
}

.services {
  width: 400px;
  margin-left: 48px;
  box-shadow: #000 3px 3px 7px;
}

.carousel-control-prev-icon{
  background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')
}
.carousel-control-next-icon{
 background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
}

.carousel-indicators [data-bs-target] {
  background-color: #000 !important;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}

@media screen and (max-width: 450px) {
  main {
    height: 80%;
  }
}

@media screen and (max-width: 450px) {
  main {
    height: 120%;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
  }

  .solution {
    width: 100%;

    h1 {
      margin-top: 12px;
    }
  }

  .services {
    width: 250px;
    margin-left: 0px;
  }
}
